In [36]:
import re
import pandas as pd
import psycopg2
from datetime import datetime, timedelta, date

In [38]:
con = psycopg2.connect(
 database="postgres", 
 user="postgres", 
 password="********", 
 host="localhost", 
 port="****"
)
cur = con.cursor()

In [29]:
df_db = pd.read_csv("archive/spam_ham_dataset.csv", sep=',')

In [30]:
df_db.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
sql_create = 'CREATE TABLE class (id serial PRIMARY KEY, text text NOT NULL, date date NOT NULL)'

In [5]:
cur.execute(sql_create)
con.commit()

In [39]:
t = 'class'
counter = 1
day = datetime.today().date()
for i in range(999): 
    if counter%10 == 0:
        te = df_db.iloc[i, 2]
        te = re.sub("[\']"," ", te)
        day= day+ timedelta(-1)
        day1 = day.isoformat()
        d = day1
        insert_sql = "INSERT INTO " + t + " (text, date) VALUES ('"+ str(te) + "','" +str(d)+"')"
        cur.execute(insert_sql)
        con.commit()
    else: 
        te = df_db.iloc[i, 2]
        te = re.sub("[\']"," ", te)
        day1 = day.isoformat()
        d = day1
        insert_sql = "INSERT INTO " + t + " (text, date) VALUES ('"+ str(te) + "','" +str(d)+"')"
        cur.execute(insert_sql)
        con.commit()
    counter+=1

In [28]:
dayt = []
dayt.append(day1)
print(dayt)

['2022-09-02']

In [33]:
t = 'class'
x = 45
te = df_db.iloc[x, 2]
d = day1
insert_sql = "INSERT INTO " + t + " (text, date) VALUES ('"+ str(te) + "','" +str(d)+"')"
print(insert_sql)

INSERT INTO class (text, date) VALUES ('Subject: re : new production - sitara deals needed
vance ,
deals # 348725 ( 6 / 10 - 6 / 30 ) and # 348729 ( 7 / 1 - 7 / 31 ) have been created and
entered in sitara for hesco .
hillary ,
do not confirm .
bob
vance l taylor
07 / 28 / 2000 01 : 24 pm
to : robert cotten / hou / ect @ ect
cc : lisa hesse / hou / ect @ ect , trisha hughes / hou / ect @ ect , heidi
withers / hou / ect @ ect , hillary mack / corp / enron @ enron , susan smith / hou / ect @ ect ,
donald p reinhardt / hou / ect @ ect , melissa graves / hou / ect @ ect
subject : new production - sitara deals needed
bob ,
the following production is now on - line and a ticket should be created and
entered into sitara based on the following :
counterparty meter volumes price period
hesco gathering oil co 9835 600 mmbtu / d 96 % gas daily less $ 0 . 14
6 / 10 - 7 / 31
samson lone star limited 9845 3000 mmbtu / d 100 % gas daily less $ 0 . 10 7 / 21 -
7 / 31
winn exploration co . , inc . 9847 800 mmbtu / d 100 % gas daily less $ 0 . 13 7 / 25
- 7 / 31
( for fuel use less 3 . 35 % of del vols )
fyi , susan has created and submitted committed reserves firm tickets for the
remaining term of the deal beginning with the month of august . additionally ,
these are producer svcs . deals and should be tracked in the im wellhead
portfolio . . . attached to the gathering contract .
thanks ,
vlt
x 3 - 6353','2022-09-02')